$blueHex-01: #011627;
$blueHex-02: #011221;
$blueHex-03: #1e2d3d;
$blueHex-04: #1c2b3a;
$blueHex-05: #607b96;
$blueHex-06: #5565e8;
$blueHex-07: #465e77;

$greenHex-01: #43d9ad;
$greenHex-02: #17fc95;

$yellowHex-01: #fff900;
$yellowHex-02: #ffc800;

$pinkHex-01: #f19fff;

$orangeHex-01: #e99287;

$grayHex-01: #e5e9f0;
$grayHex-02: #e7e4eb;

$whiteHex: #ffffff;

// font-family
$font-family: 'Fira Code', monospace;
