$blueHex-01: #011627;
$blueHex-02: #011221;
$blueHex-03: #1e2d3d;
$blueHex-04: #1c2b3a;
$blueHex-05: #607b96;
$blueHex-06: #5565e8;
$blueHex-07: #465e77;

$greenHex-01: #43d9ad;
$yellowHex-01: #fff900;
$orangeHex-01: #e99287;
$grayHex-01: #e5e9f0;
$whiteHex: #ffffff;


// font-family
$font-family:'Fira Code', monospace;