@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
}
body {
  background: $blueHex-01;
  font-family: $font-family;
  margin: 15px;
  border: 1px solid $blueHex-03;
  border-radius: 8px;
}
